{{title}}

<button (click)="showAlert()">Click Me</button>

<ul>
  <li *ngFor="let item of names">
    {{item?.name}} {{item?.surname}} 
  </li>
</ul>

<p *ngIf="show">
  Detail
</p>

<!-- $event angular event yakalama servici -->
<!-- $any service ile bir tipi herhangi bir tipe cast edebiliyoruz.  -->
<select (change)="selectedCity = $any($event.target)?.value">
  <option value="izmir">izmir</option>
  <option value="kocaeli">kocaeli</option>
  <option value="istanbul">istanbul</option>
</select>

<p>selectedCity :{{selectedCity}}</p>

<!-- yukarıda select seçimi sonrasında selectedCity property güncellendi ve aşağıdaki kod ile güncel state göre ekranda görülen element değişti -->

<div [ngSwitch]="selectedCity">
  <p *ngSwitchCase="'izmir'">Egenin incisi</p>
  <p *ngSwitchCase="'kocaeli'">Pişmaniyenin merkezi</p>
  <p *ngSwitchCase="'istanbul'">Trafik problemi</p>
</div>

<div ngSwitch="{{selectedCity}}">
  <p *ngSwitchCase="'izmir'">Egenin incisi</p>
  <p *ngSwitchCase="'kocaeli'">Pişmaniyenin merkezi</p>
  <p *ngSwitchCase="'istanbul'">Trafik problemi</p>
</div>

<button  (click)="show = !show">Show or Hide</button>

<button (click)="disabled = !disabled">Aktif veya Pasif Yap</button>

<button [disabled]="disabled">{{disabled ? 'pasif':'aktif'}}</button>

<router-outlet></router-outlet>